<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>steve’s Bundle</string>
	<key>ordering</key>
	<array>
		<string>812EB8F2-3CE7-434D-ACC9-78066EBB9916</string>
		<string>6E3C638B-6357-4C4E-ADC3-EEF4C74F24FE</string>
		<string>2B893225-F4D5-41A2-B640-7393A7BE2E2E</string>
		<string>B50E5B9A-48F9-465A-B516-84C65C281E48</string>
		<string>1BE05B3D-EEFC-447D-9C1D-96AED20ACED6</string>
		<string>1C6D17E2-16CA-4F41-AD3C-BC1F18B64911</string>
	</array>
	<key>uuid</key>
	<string>BF749367-4243-4DAC-B6B1-468B8C24081A</string>
</dict>
</plist>
